<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<%- partial('_partial/head') %>
<body class="max-width mx-auto px3 <%- theme.direction -%>">
    <% if (!is_post()) { %>
      <div id="particles-js" style="width: 100%;height: 100%;position: fixed; top: 0; left: 0; bottom: 0; right: 0;"></div>
    <% } %>
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_desktop') %>
    <% } %>
    <div class="content index py4">
        <% if (!is_post()) { %>
          <%- partial('_partial/header') %>
        <% } %>
        <%- body %>
        <% if (is_post()) { %>
          <%- partial('_partial/post/actions_mobile') %>
        <% } %>
        <%- partial('_partial/footer') %>
    </div>
</body>
</html>
<%- partial('_partial/styles') %>
<%- partial('_partial/scripts') %>
