<% if(page.comments && theme.disqus.enabled){ %>
    <div class="blog-post-comments">
        <div id="disqus_thread">
            <noscript><%= __('comments.no_js') %></noscript>
        </div>
    </div>
<% } %>

<% if(page.comments && theme.gitment.enable) { %>
    <div onclick="showGitment()" id="gitment_title" class="gitment_title">显示 Gitment 评论</div>
    <div id="container" style="display:none"></div>
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        const myTheme = {
            render(state, instance) {
                const container = document.createElement('div');
                container.lang = "en-US";
                container.className = 'gitment-container gitment-root-container';
                container.appendChild(instance.renderHeader(state, instance));
                container.appendChild(instance.renderEditor(state, instance));
                container.appendChild(instance.renderComments(state, instance));
                container.appendChild(instance.renderFooter(state, instance));
                return container;
            }
        };
        function showGitment() {
            $("#gitment_title").attr("style", "display:none");
            $("#container").attr("style", "").addClass("gitment_container");
            console.log({
                id: window.location.pathname,
                theme: myTheme,
                owner: '<%=theme.gitment.owner %>',
                repo: '<%=theme.gitment.repo %>',
                oauth: {
                    client_id: '<%=theme.gitment.client_id %>',
                    client_secret: '<%=theme.gitment.client_secret %>'
                }
            });
            var gitment = new Gitment({
                id: '<%=page.date %>',
                theme: myTheme,
                owner: '<%=theme.gitment.owner %>',
                repo: '<%=theme.gitment.repo %>',
                oauth: {
                    client_id: '<%=theme.gitment.client_id %>',
                    client_secret: '<%=theme.gitment.client_secret %>'
                }
            });
            gitment.render('container');
        }
    </script>
<% } %>

<% if(theme.valine.enable) { %>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <div id="vcomments" class="blog-post-comments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            visitor: true,
            appId: '<%=theme.valine.app_id %>',
            appKey: '<%=theme.valine.app_key %>',
            placeholder: 'ヾﾉ≧∀≦)o来啊，快活啊!',
            avatar: 'robohash'
        })
    </script>
<% } %>